<?xml version="1.0" encoding="utf-8" ?>
<!--
*********************************************************************
getLink
Copyright (c) 2021 Nikolay Korobiy
Product URL: https://github.com/korbnic/getLink
License: https://github.com/korbnic/getLink/blob/main/LICENSE
*********************************************************************
-->
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="getLink.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <getLink.Properties.Settings>
            <setting name="WindowLocationTop" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="WindowLocationLeft" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="OPEN0" serializeAs="String">
                <value>Open</value>
            </setting>
            <setting name="VIEW1" serializeAs="String">
                <value>View</value>
            </setting>
            <setting name="EXPLORE2" serializeAs="String">
                <value>Explore</value>
            </setting>
            <setting name="GET3" serializeAs="String">
                <value>Get</value>
            </setting>
            <setting name="LOCK4" serializeAs="String">
                <value>Lock</value>
            </setting>
            <setting name="PROPERTIES5" serializeAs="String">
                <value>Properties of</value>
            </setting>
            <setting name="HISTORY6" serializeAs="String">
                <value>History of</value>
            </setting>
            <setting name="Format" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Action" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="IsFileNameIncluded" serializeAs="String">
                <value>True</value>
            </setting>
        </getLink.Properties.Settings>
    </userSettings>
</configuration>